#map{
         width: 100%;
       }
       .map-info {
          z-index:1;
          position: absolute;
          height: 325px;
          width: 400px;
          margin-top: 40px;
          left: 170px;
          background-color: rgba(255,255,255,0.9);
          padding: 60px 0 55px 45px;
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);
        }
      
      @media screen and (max-width: 600px) {
    
          .map-info{
              margin-top: 0;
              left: 0;
              position: relative;  
              padding-bottom: 10px;
              width: 100%;
              box-shadow: none;
          }

      }
      .g-h_50{
         height: 50px; 
      }
      .g-h_100{
          height: 100px; 
      }
      .g-h_150{
          height: 150px; 
      }
      .g-h_200{
          height: 200px; 
      }
      .g-h_250{
          height: 250px; 
      }
      .g-h_300{
          height: 300px; 
      }
      .g-h_350{
          height: 350px; 
      }
      .g-h_400{
          height: 400px; 
      }
      .g-h_450{
          height: 450px; 
      }
      .g-h_500{
          height: 500px; 
      }
      .g-h_550{
          height: 550px; 
      }
      .g-h_600{
          height: 600px; 
      }
      .g-h_650{
          height: 650px; 
      }
      .g-h_700{
          height: 700px; 
      }
      .g-h_750{
          height: 750px; 
      }
      .g-h_800{
          height: 800px; 
      }
      .g-h_850{
          height: 850px; 
      }
      .g-h_900{
          height: 900px; 
      }
      .g-h_950{
          height: 950px; 
      }
      .g-h_1000{
          height: 1000px; 
      }
      .tempmap{
          display: none;
      }